[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytify_stats = {file = ".", editable = true}

[dev-packages]
python-dotenv = "*"
pytest = "*"
twine = "*"
build = "*"
setuptools = "*"

[requires]
python_version = "3"
